@charset "utf-8";

@import "settings";
@import "imports";

body {
  margin-top: $marginTopBody;
}

a {
  text-decoration: underline;
}

#read-intro {
  margin-top: -20px;
  margin-bottom: 60px;
  h1 {
    font-family: 'Roboto',$font-family-sans-serif;
    font-weight: 200;
  }
}

.attribution {
  font-style: italic;
  margin-top: -30px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.post {
  margin-bottom: 80px;
  h1 {
    margin-top: 0;
  }
}

.post_date {
  color: #999;
}

.imageblock {
  .content {
  }
  .title {
    padding: 2px;
    text-style: all-caps;
  }
  &.right {
    float: right;
    margin-left: 20px;
  }
  &.left {
    float: left;
    margin-right: 20px;
  }
  &.center {
    margin: 30px auto;
  }
}

span.image.responsive img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}